services:
  postgres-db:
    container_name: postgres-db
    image: postgres:17
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    restart: unless-stopped    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"     

  fastapi_boilerplate:
    container_name: fastapi_boilerplate
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres-db
    env_file:
      - .env
    restart: unless-stopped     
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"         


volumes:
  pgdata: